@use '../../../../public/assets/styles/all-styles.scss' as all;

.warning {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.6rem;
}

section {
    background: var(--color-bg2);

    .content {
        @include all.fl($gap: 4rem);

        h2 {
            color: var(--color-hl1);
            margin: 0;
        }

        .contact-head {
            @include all.fl($flexdir: row, $alit: flex-start, $gap: 4rem);
            max-width: 95rem;

            @include all.tablet {
                flex-direction: column;
                gap: 1.6rem;
            }

            p {
                width: 50%;
                text-align: justify;

                @include all.tablet {
                    width: 100%;
                }
            }

            .contact-data {
                @include all.fl($alit: flex-start, $gap: 0.8rem);
                width: 50%;

                @include all.tablet {
                    width: 100%;
                }

                a {
                    @include all.fl($flexdir: row, $gap: 1.6rem);
                    color: var(--color-ptext);
                    transition: 0.3s;

                    &:hover {
                        color: var(--color-btns);

                        svg {
                            fill: var(--color-btns);
                        }
                    }
                }
            }
        }

        form {
            @include all.fl($gap: 1.6rem);
            max-width: 95rem;

            .form-contact {
                @include all.fl($flexdir: row, $gap: 1.6rem);
                width: 100%;

                @include all.tablet {
                    flex-direction: column;
                }


                .form-input {
                    flex: 1;
                    height: 6rem;

                    @include all.tablet {
                        width: 100%;
                        flex: auto;
                    }

                    input {
                        width: 100%;
                        padding: 0.8rem 1.6rem;
                        border: 2px solid var(--color-btns-stroke);
                        border-radius: 0.8rem;
                        font-family: 'IBM Plex Mono';
                        font-size: 1.6rem;
                    }
                }
            }

            .form-message {
                width: 100%;
                height: 13rem;

                textarea {
                    width: 100%;
                    height: 10rem;
                    padding: 0.8rem 1.6rem;
                    border: 2px solid var(--color-btns-stroke);
                    border-radius: 0.8rem;
                    font-family: 'IBM Plex Mono';
                    font-size: 1.6rem;
                    resize: none;
                }

                span {
                    color: red;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            .form-submit {
                @include all.fl($flexdir: row, $alit: flex-start, $gap: 1.6rem);

                @include all.mobile {
                    flex-direction: column;
                    align-items: center;
                }

                .checkbox {
                    @include all.fl($flexdir: row, $gap: 1.6rem, $alit: flex-start);

                    input {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }

                    label {
                        color: var(--color-ptext);
                        margin-bottom: 2.4rem;
                        @media(max-width:445px){
                            margin-bottom: 4rem;
                        }

                        a {
                            color: var(--color-btns)
                        }
                    }
                }

                .btn-submit {
                    @include all.button();
                    color: var(--color-btn-text);
                    font-family: 'IBM Plex Mono';
                    font-size: 1.6rem;
                }
            }
        }
    }
}