<section>
    <div class="content">
        <h2>Kontakt</h2>
        <div class="contact-head">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias quos nam magnam maiores repudiandae,
                ex aspernatur, dolorem placeat ut velit quisquam. Debitis, reprehenderit dolor voluptate corrupti nihil
                ut at voluptates vel, minus, voluptatum omnis dolores nostrum. Odio, hic ullam.</p>
            <div class="contact-data">
                <a href="mailto: kontakt@alberding-schulz.de">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                        <path
                            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                    </svg>
                    <span>kontakt&#64;alberding-schulz.de</span>
                </a>
                <a href="tel:017632859064">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                        <path
                            d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                    </svg>
                    <span>0176 32859064</span>
                </a>
            </div>

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="form-contact">
                    <div>
                        <label for="name">Dein Name</label>
                        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                            (ngModelChange)="saveData()" required>
                        @if (!name.valid && (name.touched || contactForm.submitted)){
                        <span>Bitte trage einen Namen ein!</span>
                        }
                    </div>
                    <div>
                        <label for="mail">Deine Email-Adresse</label>
                        <input #mail="ngModel" [(ngModel)]="contactData.email" type="text" id="mail" name="mail"
                            (ngModelChange)="saveData()" required
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        @if (!mail.valid && (mail.touched || contactForm.submitted)) {
                        <span>Bitte trage eine Email-Adresse ein!</span>
                        }
                    </div>
                </div>
                <div class="form-message">
                    <label for="message">Deine Nachricht</label>
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                        (ngModelChange)="saveData()" required></textarea>
                    @if (!message.valid && (message.touched || contactForm.submitted)) {
                    <span>Bitte trage eine Nachricht ein!</span>
                    }
                </div>
                <div class="form-submit">
                    <div class="checkbox">
                        <input type="checkbox" #checkPrivacy="ngModel" [(ngModel)]="contactData.privacy" name="privacy"
                            id="privacy" (ngModelChange)="saveData()" required>
                        <label for="privacy" (click)="$event.preventDefault()">Ich habe die<a
                                href="privacy"
                                (click)="$event.stopPropagation()"> Datenschutzerklärung </a>gelesen und stimme der Verarbeitung meiner Daten gemäß den dort beschriebenen Bestimmungen zu.</label>
                        @if(!checkPrivacy.valid && contactForm.submitted){
                        <span>Bitte stimme den Datenschutzrichtlinen zu!</span>
                        }
                    </div>
                    <input class="btn-submit" type="submit" value="Send">
                </div>
                </form>


        </div>
    </div>


</section>