@use '../../../../public/assets/styles/all-styles.scss' as all;

header {
    @include all.fl($flexdir: row, $gap: 5rem);
    background: var(--color-bg3);
    padding: 1.6rem 4rem;
    color: var(--color-ptext);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    >a{
        span{
            font-size: 2.4rem;
            font-weight: 700;
        }
        .logo1{
            color: var(--color-ptext);
        }

        .logo2{
            color: var(--color-btns);
        }
    }



    nav {
        @include all.fl($flexdir: row, $gap: 4rem);

        a {
            text-wrap: nowrap;
            color: var(--color-ptext);
            transition: 0.3s;

            &:hover{
                color: var(--color-btns);
            }
        }

    }

    .links {
        @include all.fl($flexdir: row, $gap: 2.4rem);
    }

    button{
        border: 2px solid white;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        background: var(--color-toggle);
    }

}

svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-ptext);
    transition: 0.3s;

    &:hover{
        fill: var(--color-btns);
    }
}