<section>
    <div class="content">
        <h2>Meine Projekte</h2>
        <div class="project-container">
            <div class="single-project">
                <img class="project-img" src="assets/img/join.png" alt="">
                <div class="project-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nemo vitae quod. Nulla
                        ducimus, consequuntur porro maiores praesentium deleniti architecto sed reiciendis placeat sequi
                        quos.</p>
                    <div class="link-container">
                        <a href="">Live-Test</a>
                        <a href="">Repository</a>
                    </div>
                </div>
            </div>
            <div class="single-project">
                <div class="project-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nemo vitae quod. Nulla
                        ducimus, consequuntur porro maiores praesentium deleniti architecto sed reiciendis placeat sequi
                        quos.</p>
                    <div class="link-container">
                        <a href="">Live-Test</a>
                        <a href="">Repository</a>
                    </div>
                </div>
                <img class="project-img" src="assets/img/elpolloloco.png" alt="">
            </div>
            <div class="single-project">
                <img class="project-img" src="assets/img/pokedex.png" alt="">
                <div class="project-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nemo vitae quod. Nulla
                        ducimus, consequuntur porro maiores praesentium deleniti architecto sed reiciendis placeat sequi
                        quos.</p>
                    <div class="link-container">
                        <a href="">Live-Test</a>
                        <a href="">Repository</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>