.typewriter {
    font-size: 3rem;
    font-weight: 500;
    white-space: nowrap;
    color: var(--color-hl2);
}

.cursor {
    display: inline-block;
    animation: blink 0.8s infinite;
    font-size: 3rem;
    color: var(--color-hl2);
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}