<section>
    <div class="content">
        <h2>Über mich</h2>
        <div class="about-container">
            <div class="about-left">
                <span>Ich bin</span>
                <app-typewriter [texts]="[
    'Frontend-Entwickler',
    'Familienvater',
    'Gamer'
    ]" [typingSpeed]="100" [deleteSpeed]="50" [pauseTime]="1500"></app-typewriter>
            </div>

        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sapiente? Alias, assumenda error. Illo
            perspiciatis ipsam iusto optio voluptas obcaecati itaque temporibus. Quibusdam consectetur corporis fugit
            deserunt ducimus temporibus quod!</p>
    </div>
    </div>

</section>