@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
    background: var(--color-bg2);
    height: 100dvh;

    .content {
        @include all.fl($flexdir: row, $gap: 10rem);
        @media(max-width: 950px){
            flex-direction: column-reverse;
            gap: 4rem;
        }

        .intro {
            @include all.fl($gap: 2.4rem, $alit: flex-start);
            max-width: 60rem;
            h1 {
                color: var(--color-hl1);
                font-size: 6rem;
                font-weight: 700;
            }
            a{
                @include all.button();
                color: var(--color-hl1);
            }
            @include all.mobile{
                // width: 50rem;
                align-items: center;
                h1{
                    font-size: 4rem;
                }
            }
            @media(max-width: 550px){
                // width: 40rem;
            }
        }

        img{
            width: 35rem;
            height: 35rem;
            border-radius: 50%;
            object-fit: cover;
            @include all.mobile{
                width: 30rem;
                height: 30rem;
            }
        }

    }
}