@mixin fl($jc: center, $alit: center, $flexdir: column, $gap: 0, $rgap: 0, $cgap: 0, ) {
    display: flex;
    justify-content: $jc;
    align-items: $alit;
    flex-direction: $flexdir;
    gap: $gap;
}

@mixin button(){
    padding: 1.6rem;
    background-color: var(--color-btns);
    border: 1px solid var(--color-btns-stroke);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 10px 0px var(--color-btns);
    transition: 0.3s;
    &:hover{
        box-shadow: 0px 0px 25px 0px var(--color-btns);
    }
}

